* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


html {
    height: 100%; 
}

body {
    text-align: center;
    display:flex;
    flex-direction:column;
    min-height: 100%;
}

h2 {
    font-family: 'Satisfy', cursive;
}

h3 {
    font-family: 'Satisfy', cursive;
}

.bg {
    background-color:#D4E39C;
}


/* ----------------------NAV-------------------------------------*/


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 0;
    display: flex; 
    justify-content: flex-start;   
    align-items: center;
}


.logo-green {
    width: 65px;
    padding: 10px;
}

.liens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}

.liens a {
    text-decoration: none;
    padding: 0.5em;
    margin-left: 1em;
    font-weight: 550;
    font-size: 1.1em;
    color: #a8bb4e;
}

.liens a:hover{
    border-bottom: 2px #a8bb4e solid;
}

.navbar li {
    list-style-type: none;
}

.icon-burger, .close-burger {
    display: none;
    margin-left: auto;
    padding: 20px;
}

.close-burger img {
    width: 15px;
}

.icon-burger img {
    width: 35px;
}

.banner {
    height: 400px;
    background: no-repeat center / cover url("https://images.unsplash.com/photo-1526797072-6f5b4aec8421?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); 
    box-shadow: 5px 5px 15px #4a6602;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.banner-text {
    font-size: 450%;
    color: white;
    padding: 10px 20px;
    border-bottom: 2px white solid;
    text-shadow: 0 0 0.2em #16772c;
    font-family: 'Satisfy', cursive;

}





/* ----------------------ACTIONS-------------------------------------*/


*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
#titre{
   font-family: Satisfy, cursive;
   font-size: 3.0em;
   display:flex;
   justify-content: center;
   color:green;
}
section{
   margin-top:3rem;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:space-around;
   align-items:stretch;
   align-content: space-between;
   background-color: white;
}
img{
 height:500px;
 width:500px;
}
a {
   display:flex;
   justify-content:center;
   color:green;
   font-family: Satisfy, cursive;
   font-size: 2em;
}




/* ----------------------ASSOCIATION-------------------------------------*/








/* ----------------------GESTION DES DECHETS-------------------------------------*/










/* ----------------------FORMULAIRE-------------------------------------*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

form div {
    display: flex;
}

label {
    display: block;
    width: 5rem;
    text-align: right;
    margin: 1rem;
    text-transform: uppercase;
}

input {
    border-radius: 7px;
    width:40rem;
    margin: 1rem;
}

textarea {
    border-radius: 7px;
    width:40rem;
    height:10rem;
    margin: 1rem;
}

button {
    margin:5px;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
}

/* ----------------------FOOTER-------------------------------------*/

footer {
    background-color: #436439;
    color:#ffffff;
    margin-top: auto;   
    padding: 10px 5px 5px 5px;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #ffffff;  
}

.item {
    width:30%;
}

.justify {
    text-align: justify;
}

.links {
    margin-top: 50px;
    display:flex;
    align-items: center;
}

.links p {
    margin:5px;
}

.links a {
    margin: 5px;
}

.network {
    border-radius: 50px;
    height:50px;
    width:50px;
}

/* ----------------------VERSION MOBILE-------------------------------------*/

@media only screen and (max-width: 960px) {

/* ---------------------- FORMULAIRE ---------------------------------------*/

form div {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width:90%;
}

label {
    width:auto;
    margin: 0;
}

input {
    margin: 0.5rem;
    width: 100%;
}

textarea {
    margin: 0.5rem;
    width: 100%;      
}

/* ------------------------- FOOTER ---------------------------------------- */

footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;      
}

.item {
    width: 95%;
    padding: 1rem;
}

.networks {
    border-bottom: solid 1px #3b5833;
    padding:1rem 0 1rem 0;
}

.networks p {
    display: none;
}

.links {
    margin-top:0;
    display:block;
}

.links p {
    border-bottom: solid 1px #3b5833;
    padding-bottom: 1.5rem;
}

.links a {
    display: block;
    border-bottom: solid 1px #3b5833;
    padding: 1rem;
}

}

